body {
    width: 800px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
}

.ghost-input, p {
    width: 100%;
    padding: 10px 15px;
    margin: 30px 0;
    font-family: 'Open Sans', Verdana;
    font-size: 25px;
    font-weight: 300;
    color: #4b545f;
    border: 0;
    outline: none;
}
